{{#ui-button-primative
  mood=mood
  type=type
  size=_size
  outline=_outline
  tooltipPlace=tooltipPlace
  tooltipSpacing=tooltipSpacing
  tooltipAuto=tooltipAuto
  tooltipTypeClass=tooltipTypeClass
  tooltipEffectClass=tooltipEffectClass
  style=style
  disabled=disabled
  onClick=(action "onClick")
}}
  {{#if hasBlock}}
    {{yield}}
  {{else}}
    <span class="content">
      {{#if tooltip}}
        {{#tooltip-on-parent}}{{tooltip}}{{/tooltip-on-parent}}
      {{/if}}
      {{#if icon}}
      <span class="icon">
        {{ui-icon icon=icon spin=iconSpin pulse=iconPulse}}
      </span>
      {{/if}}
      {{#if title}}
      <span class="title">
        {{title}}
      </span>
      {{/if}}
    </span>
  {{/if}}
{{/ui-button-primative}}
