{{#ui-button-primative
  mood=mood
  type=type
  size=_size
  outline=_outline
  active=active
  tooltipPlace=tooltipPlace
  tooltipSpacing=tooltipSpacing
  tooltipAuto=tooltipAuto
  tooltipTypeClass=tooltipTypeClass
  tooltipEffectClass=tooltipEffectClass
  style=stylist
  disabled=disabled
  onClick=(action "onClick")
}}
  {{#if tooltip}}
    {{#tooltip-on-parent}}{{tooltip}}{{/tooltip-on-parent}}
  {{/if}}

  {{#if hasBlock}}
    {{yield (hash
      icon=(component 'ui-icon' icon=icon size=size iconSpin=iconSpin iconPulse=iconPulse)
      title=title
    )}}
  {{else}}
    <span class="content">
      {{#if icon}}
      <span class="icon">
        {{ui-icon icon=icon spin=iconSpin pulse=iconPulse}}
      </span>
      {{/if}}
      {{#if title}}
      <span class="title">
        {{title}}
      </span>
      {{/if}}
    </span>
  {{/if}}
{{/ui-button-primative}}
