<div class="container">
    <h1 id="title">ui-button</h1>
    <h2>a simple button component which leverages Bootstrap styling</h2>
    
    <h3>Bootstrap Styles</h3>
    <div class="row">
        <p class="descriptive col-xs-12 col-sm-8 col-lg-6">
            It's easy to use the Twitter Bootstrap styles you're used to using. The 'default' style is used by default.
        </p>        
    </div>
    
    <div class="row">
        <div class="col-xs-2">
            {{#ui-button}}press me{{/ui-button}}
        </div>
        <div class="snippet col-xs-10">
            \{{#ui-button}}press me\{{/ui-button}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            {{#ui-button style="primary"}}press me{{/ui-button}}
        </div>
        <div class="snippet col-xs-10">
            \{{#ui-button style="primary"}}press me\{{/ui-button}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            {{#ui-button style="info"}}press me{{/ui-button}}
        </div>
        <div class="snippet col-xs-10">
            \{{#ui-button style="info"}}press me\{{/ui-button}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            {{#ui-button style="success"}}press me{{/ui-button}}
        </div>
        <div class="snippet col-xs-10">
            \{{#ui-button style="success"}}press me\{{/ui-button}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            {{#ui-button style="warning"}}press me{{/ui-button}}
        </div>
        <div class="snippet col-xs-10">
            \{{#ui-button style="warning"}}press me\{{/ui-button}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            {{#ui-button style="danger"}}press me{{/ui-button}}
        </div>
        <div class="snippet col-xs-10">
            \{{#ui-button style="danger"}}press me\{{/ui-button}}
        </div>
    </div>

    <h3>Enable/Disable</h3>
    <div class="row">
        <p class="descriptive col-xs-12 col-sm-8 col-lg-6">
            A button can be bound to static value, a bound property or even a function to 
            specify whether the button should be pressable.
        </p>        
    </div>
    
    <div class="row">
        <div class="col-xs-2">
            {{#ui-button disabled=false}}uninhibited{{/ui-button}}
        </div>
        <div class="snippet col-xs-10">
            \{{#ui-button disabled=false}}uninhibited\{{/ui-button}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            {{#ui-button disabled=true}}suppress me{{/ui-button}}
        </div>
        <div class="snippet col-xs-10">
            \{{#ui-button disabled=true}}suppress me\{{/ui-button}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            {{#ui-button disabled=isRepressed}}repress me{{/ui-button}}
        </div>
        <div class="snippet col-xs-10">
            \{{#ui-button disabled=isRepressed}}repress me\{{/ui-button}} -- {{ui-button title="toggle repression" action="toggleRepression" size="tiny"}}
        </div>
    </div>
    
    <h3>Size Matters</h3>
    <div class="row">
        <p class="descriptive col-xs-12 col-sm-8 col-lg-6">
            Get a variety of sizes which leverage the Bootstrap 'btn-xx' classes but with a simpler syntax (aka, size="small").
        </p>        
    </div>
    
    <div class="row">
        <div class="col-xs-2">
            {{#ui-button size='tiny'}}Tiny{{/ui-button}}
        </div>
        <div class="snippet col-xs-10">
            \{{#ui-button size='tiny'}}Tiny\{{/ui-button}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            {{#ui-button size='small'}}Small{{/ui-button}}
        </div>
        <div class="snippet col-xs-10">
            \{{#ui-button size='small'}}Small\{{/ui-button}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            {{#ui-button}}Normal{{/ui-button}}
        </div>
        <div class="snippet col-xs-10">
            \{{#ui-button}}Normal\{{/ui-button}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            {{#ui-button width='140px'}}Fixed Width{{/ui-button}}
        </div>
        <div class="snippet col-xs-10">
            \{{#ui-button width='140px'}}Fixed Width\{{/ui-button}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            {{#ui-button size='large'}}Large{{/ui-button}}
        </div>
        <div class="snippet col-xs-10">
            \{{#ui-button size='large'}}Large\{{/ui-button}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            {{#ui-button size='huge'}}Huge{{/ui-button}}
        </div>
        <div class="snippet col-xs-10">
            \{{#ui-button size='huge'}}Huge\{{/ui-button}}
        </div>
    </div>
    
    <h3>Inline Goodies</h3>
    <div class="row">
        <p class="descriptive col-xs-12 col-sm-8 col-lg-6">
            All the examples so far have been using the <i>block</i> form of the control but it can be used inline and regardless 
            of which form you use there are some little visual flurishes that make life easier.
        </p>        
    </div>
    
    <div class="row">
        <div class="col-xs-2">
            {{ui-button title="inline button"}}
        </div>
        <div class="snippet col-xs-10">
            \{{ui-button title="inline button"}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            {{ui-button title="tooltip" tooltip="additional info"}}
        </div>
        <div class="snippet col-xs-10">
            \{{ui-button title="tooltip" tooltip="additional info"}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            {{ui-button title="tooltip right" tooltip="additional info" tooltipPlacement='right'}}
        </div>
        <div class="snippet col-xs-10">
            \{{ui-button title="tooltip right" tooltip="additional info" tooltipPlacement='right'}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            {{ui-button icon="sitemap"}}
        </div>
        <div class="snippet col-xs-10">
            \{{ui-button icon="sitemap"}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            {{ui-button title='plus text' icon="sitemap"}}
        </div>
        <div class="snippet col-xs-10">
            \{{ui-button title='plus text' icon="sitemap"}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            {{ui-button title="keep da focus" keepFocus=true}}
        </div>
        <div class="snippet col-xs-10">
            \{{ui-button title="keep da focus" keepFocus=true}}
        </div>
    </div>
    
    <h3>Effects</h3>
    <div class="row">
        <p class="descriptive col-xs-12 col-sm-8 col-lg-6">
            On certain key button events -- click, enabled, disabled -- you can attach a visual  
            effect to highlight this state change.
        </p>        
    </div>
    
    <div class="row">
        <div class="col-xs-2">
            {{ui-button title="Click" clickEffect='tada'}}
        </div>
        <div class="snippet col-xs-10">
            \{{ui-button title="Click" clickEffect='tada'}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            {{ui-button title="Enable / Disable" disabled=toggledEnablement enabledEffect='pulse' disabledEffect='shake'}} 
        </div>
        <div class="snippet col-xs-10">
            \{{ui-button title="Enable Effect" disabled=toggledEnablement enabledEffect='pulse' disabledEffect='shake'}} -- {{ui-button title="toggle" action="toggleEnablement" size="tiny"}}
        </div>
    </div>
    
    
    <h3>Toggle Buttons</h3>
    <div class="row">
        <p class="descriptive col-xs-12 col-sm-8 col-lg-6">
            Toggle buttons inherit all the goodness of buttons but have an internal state mechanism which toggles between two 
            states. Note, however, that a default toggleEffect of 'pulse' is set. 
        </p>        
    </div>
    
    <div class="row">
        <div class="col-xs-2">
            {{ui-toggle-button}}
        </div>
        <div class="snippet col-xs-10">
            \{{ui-toggle-button}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            {{ui-toggle-button on="Yes" off='No'}}
        </div>
        <div class="snippet col-xs-10">
            \{{ui-toggle-button on="Yes" off='No'}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            {{ui-toggle-button value=true onStyle='success' toggleEffect='swing'}}
        </div>
        <div class="snippet col-xs-10">
            \{{ui-toggle-button value=true onStyle='success' toggleEffect='swing'}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            {{ui-toggle-button onStyle='success' offStyle='danger' width='50px'}} 
            {{ui-toggle-button value=true onStyle='success' offStyle='danger' width='50px'}} 
        </div>
        <div class="snippet col-xs-10">
            \{{ui-toggle-button onStyle='success' offStyle='danger' width='50px'}} <br/>
            \{{ui-toggle-button value=true onStyle='success' offStyle='danger' width='50px'}} 
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-2">
            {{ui-toggle-button onStyle='success' icon='dot-circle-o'}}
        </div>
        <div class="snippet col-xs-10">
            \{{ui-toggle-button onStyle='success' icon='dot-circle-o'}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            {{ui-toggle-button onStyle='success' offIcon='circle-thin' onIcon='dot-circle-o'}}
        </div>
        <div class="snippet col-xs-10">
            \{{ui-toggle-button onStyle='success' offIcon='circle-thin' onIcon='dot-circle-o'}}
        </div>
    </div>
    

</div>
