{{#demo-css}}
<h3>Bootstrap moods</h3>
<div class="row">
    <p class="descriptive col-xs-12 col-sm-8 col-lg-6">
        It's easy to use the Twitter Bootstrap moods you're used to using. The 'default' mood is used by default.
    </p>
</div>

<div class="row">
    <div class="col-xs-2">
        {{#ui-button}}press me{{/ui-button}}
    </div>
    <div class="snippet col-xs-10">
        \{{#ui-button}}press me\{{/ui-button}}
    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        {{#ui-button mood="primary"}}press me{{/ui-button}}
    </div>
    <div class="snippet col-xs-10">
        \{{#ui-button mood="primary"}}press me\{{/ui-button}}
    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        {{#ui-button mood="info"}}press me{{/ui-button}}
    </div>
    <div class="snippet col-xs-10">
        \{{#ui-button mood="info"}}press me\{{/ui-button}}
    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        {{#ui-button mood="success"}}press me{{/ui-button}}
    </div>
    <div class="snippet col-xs-10">
        \{{#ui-button mood="success"}}press me\{{/ui-button}}
    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        {{#ui-button mood="warning"}}press me{{/ui-button}}
    </div>
    <div class="snippet col-xs-10">
        \{{#ui-button mood="warning"}}press me\{{/ui-button}}
    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        {{#ui-button mood="danger"}}press me{{/ui-button}}
    </div>
    <div class="snippet col-xs-10">
        \{{#ui-button mood="danger"}}press me\{{/ui-button}}
    </div>
</div>

<h3>Enable/Disable</h3>
<div class="row">
    <p class="descriptive col-xs-12 col-sm-8 col-lg-6">
        A button can be "disabled" through use of the <code>disabled</code> or <code>enabled</code>
        properties. While this is redundant -- and we'd never expect you to bind to both -- one versus
        the other is often more convenient in your templates which don't have the benefit of conditional
        logic.
    </p>
</div>

<div class="row">
    <div class="col-xs-2">
        {{#ui-button disabled=isRepressed}}disable me{{/ui-button}}
    </div>
    <div class="snippet col-xs-10">
        \{{#ui-button disabled={{isRepressed}} }}disable me\{{/ui-button}} -- {{ui-toggle-button on='disabled' off='not disabled' value=isRepressed size="tiny"}}
    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        {{#ui-button enabled=isEnabled}}enable me{{/ui-button}}
    </div>
    <div class="snippet col-xs-10">
      The opposite of <code>disabled</code> is available as the <code>enabled</code> property:
      {{ui-toggle-button on='enabled' off='not enabled' size="tiny" value=isEnabled}}
      <br/>
      \{{#ui-button enabled={{isEnabled}} }}enable me\{{/ui-button}}
    </div>
</div>

<h3>Size Matters</h3>
<div class="row">
    <p class="descriptive col-xs-12 col-sm-8 col-lg-6">
        Get a variety of sizes which leverage the Bootstrap 'btn-xx' classes but with a simpler syntax (aka, size="small").
    </p>
</div>

<div class="row">
    <div class="col-xs-2">
        {{#ui-button size='tiny'}}Tiny{{/ui-button}}
    </div>
    <div class="snippet col-xs-10">
        \{{#ui-button size='tiny'}}Tiny\{{/ui-button}}
    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        {{#ui-button size='small'}}Small{{/ui-button}}
    </div>
    <div class="snippet col-xs-10">
        \{{#ui-button size='small'}}Small\{{/ui-button}}
    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        {{#ui-button}}Normal{{/ui-button}}
    </div>
    <div class="snippet col-xs-10">
        \{{#ui-button}}Normal\{{/ui-button}}
    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        {{#ui-button width='120px'}}Fixed Width{{/ui-button}}
    </div>
    <div class="snippet col-xs-10">
        \{{#ui-button width='120px'}}Fixed Width\{{/ui-button}}
    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        {{#ui-button width='120px' height='55px'}}Fixed Both{{/ui-button}}
    </div>
    <div class="snippet col-xs-10">
        \{{#ui-button width='120px' height='55px}}Fixed Both\{{/ui-button}}
    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        {{#ui-button width='120px' height='golden'}}Golden ratio{{/ui-button}}
    </div>
    <div class="snippet col-xs-10">
        \{{#ui-button width='120px' height='golden'}}Golden ratio\{{/ui-button}}
    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        {{#ui-button width='120px' height='square'}}Square{{/ui-button}}
    </div>
    <div class="snippet col-xs-10">
        \{{#ui-button width='120px' height='square'}}square\{{/ui-button}}
    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        {{#ui-button width='60%'}}% Width{{/ui-button}}
    </div>
    <div class="snippet col-xs-10">
        \{{#ui-button width='60%'}}% Width\{{/ui-button}}
    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        {{#ui-button size='large'}}Large{{/ui-button}}
    </div>
    <div class="snippet col-xs-10">
        \{{#ui-button size='large'}}Large\{{/ui-button}}
    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        {{#ui-button size='huge'}}Huge{{/ui-button}}
    </div>
    <div class="snippet col-xs-10">
        \{{#ui-button size='huge'}}Huge\{{/ui-button}}
    </div>
</div>

<h3>Fonts</h3>
<div class="row">
    <p class="descriptive col-xs-12 col-sm-10 col-lg-8">
        If you want to override font settings with safe <b>style</b> properties you can do this inline
    </p>
</div>
<div class="row">
    <div class="col-xs-2">
        {{ui-button title="light" fontWeight=100}}
    </div>
    <div class="snippet col-xs-10">
        \{{ui-button title="light" fontWeight=100}}
    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        {{ui-button title="heavy" fontWeight=900}}
    </div>
    <div class="snippet col-xs-10">
        \{{ui-button title="heavy" fontWeight=900}}
    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        {{ui-button title="italic" fontStyle='italic'}}
    </div>
    <div class="snippet col-xs-10">
        \{{ui-button title="italic" fontStyle='italic'}}
    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        {{ui-button title="cursive" fontFamily='cursive'}}
    </div>
    <div class="snippet col-xs-10">
        \{{ui-button title="cursive" fontFamily='cursive'}}
    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        {{ui-button title="small text" height='48px' fontSize='10px'}}
    </div>
    <div class="snippet col-xs-10">
        \{{ui-button title="small text" height='48px' fontSize='10px'}}
    </div>
</div>

<h3>Inline Goodies</h3>
<div class="row">
    <p class="descriptive col-xs-12 col-sm-10 col-lg-8">
        All the examples so far have been using the <i>block</i> form of the control but it can be used inline and regardless
        of which form you use there are some little visual flurishes that make life easier.
    </p>
</div>

<div class="row">
    <div class="col-xs-2">
        {{ui-button title="inline button"}}
    </div>
    <div class="snippet col-xs-10">
        \{{ui-button title="inline button"}}
    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        {{ui-button title="tooltip" tooltip="additional info"}}
    </div>
    <div class="snippet col-xs-10">
        \{{ui-button title="tooltip" tooltip="additional info"}}
    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        {{ui-button title="tooltip right" tooltip="additional info" tooltipPlacement='right'}}
    </div>
    <div class="snippet col-xs-10">
        \{{ui-button title="tooltip right" tooltip="additional info" tooltipPlacement='right'}}
    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        {{ui-button title="tooltip delayed" tooltip="additional info" tooltipDelay=5000}}
    </div>
    <div class="snippet col-xs-10">
        \{{ui-button title="tooltip delayed" tooltip="additional info" tooltipDelay=5000}}
    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        {{ui-button icon="sitemap"}}
    </div>
    <div class="snippet col-xs-10">
        \{{ui-button icon="sitemap"}}
    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        {{ui-button title='plus text' icon="sitemap"}}
    </div>
    <div class="snippet col-xs-10">
        \{{ui-button title='plus text' icon="sitemap"}}
    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        {{ui-button title="keep da focus" keepFocus=true}}
    </div>
    <div class="snippet col-xs-10">
        \{{ui-button title="keep da focus" keepFocus=true}}
    </div>
</div>

<h3>Effects</h3>
<div class="row">
    <p class="descriptive col-xs-12 col-sm-8 col-lg-6">
        On certain key button events -- click, enabled, disabled -- you can attach a visual
        effect to highlight this state change. You can also remove the default "delay/transition"
        by flagging it to off (this would make it more like default bootstrap).
    </p>
</div>

<div class="row">
    <div class="col-xs-2">
        {{ui-button title="Instant Hover" delayedHover=false}}
    </div>
    <div class="snippet col-xs-10">
        \{{ui-button title="Instant Hover" delayedHover=false}}
    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        {{ui-button title="Click" clickEffect='tada'}}
    </div>
    <div class="snippet col-xs-10">
        \{{ui-button title="Click" clickEffect='tada'}}
    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        {{ui-button title="Enable / Disable" disabled=toggledEnablement enabledEffect='pulse' disabledEffect='shake'}}
    </div>
    <div class="snippet col-xs-10">
        \{{ui-button title="Enable Effect" disabled=toggledEnablement enabledEffect='pulse' disabledEffect='shake'}} -- {{ui-button title="toggle" action="toggleEnablement" size="tiny"}}
    </div>
</div>

<h3>Actions</h3>
<div>
  <widget class="col-xs-2 left">
    {{ui-button title='just do it' action='buttonAction' value='just do it'}}
  </widget>
  <code class="col-xs-3">
    {{display-component componentName='ui-button' action='buttonAction' value='just do it'}}
  </code>
  <description class="col-xs-7">
    <p>
      Pressing buttons is no fun unless something happens ... and these buttons are nothing if not fun. Click the button below to fire the general "action" event to the container.
    </p>
    <p>
      This action will return the following:
      <note>
        <b>action(</b>action-type, context<b>)</b><br>
        &nbsp;&nbsp;&nbsp;where <prop>action-type</prop> will be "pressed" and <prop>context</prop> will be a reference to the button object.
      </note>
    </p>
  </description>
</div>

{{/demo-css}}

