{{#demo-css}}
<div class="row">
  <div class="col-xs-12">
    <h3><code>ui-buttons</code></h3>
    <h3>Buttons Component</h3>
    <desc>
      The buttons component is a <i>grouping</i> of buttons that can be used in a template as either <b>block</b> or <b>inline</b> component. The examples below illustrate both styles.
    </desc>
  </div>
</div>

<h3>Block Style</h3>
<hr>
<div class="row">
  <div class="col-xs-4 col-sm-3 col-lg-2">
    {{#ui-buttons}}
      {{ui-button title='foo'}}
      {{ui-button title='bar'}}
      {{ui-button title='baz'}}
    {{/ui-buttons}}
  </div>
  <div class="col-xs-4 col-sm-5 col-lg-5 monospace">
  <b>\{{#ui-buttons}}</b><br/>
    &nbsp;&nbsp;\{{ui-button title='foo'}}<br/>
    &nbsp;&nbsp;\{{ui-button title='bar'}}<br/>
    &nbsp;&nbsp;\{{ui-button title='baz'}}<br/>
  <b>\{{/ui-buttons}}</b>
  </div>
  <div class="col-xs-4 col-sm-4 col-lg-5">
    <h4>Basic Styling</h4>
    Illustrates the most basic usage of this component. Basically all you're getting here is some additional bootstrap styling which rounds the corners in a pleasing way.
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-4 col-sm-3 col-lg-2">
    {{#ui-buttons howMany=howMany disabled=d size=s value=v1 as |g1|}}
      {{ui-button title='foo' group=g1}}
      {{ui-button title='bar' group=g1}}
      {{ui-button title='baz' group=g1}}
    {{/ui-buttons}}
    <br/>
    <p class='downer'>
      <i>&nbsp;&nbsp; where d = {{d}}</i>
      <br/>
      <i>&nbsp;&nbsp; and s = {{s}}</i>
    </p>


  </div>
  <div class="col-xs-4 col-sm-5 col-lg-5 monospace">
  <b>\{{#ui-buttons disabled=d size=s as |g1|}}</b><br/>
    &nbsp;&nbsp;\{{ui-button title='foo' group=g1}}<br/>
    &nbsp;&nbsp;\{{ui-button title='bar' group=g1}}<br/>
    &nbsp;&nbsp;\{{ui-button title='baz' group=g1}}<br/>
  <b>\{{/ui-buttons}}</b>
  </div>
  <div class="col-xs-4 col-sm-4 col-lg-5">
    <h4>Block Scope & Registration</h4>
    Associating the button with the <code>ui-buttons</code> component is achieved by setting the <code>group</code> property to the yielded value of buttons component. This automatically takes care of item registration and allows the container to orchestrate global properties like sizing, enablement/disablement, etc.<br/>
    <p class="downer">
      {{ui-toggle-button on='enable the group' off='disable the group' onValue=true offValue=false action='disablement'}}
      {{ui-toggle-button on='enable foo' off='disable foo' onValue='foo' offValue=false action='disablement'}}
      <br/>
      <p class="downer">
        {{ui-buttons buttons='small,normal,large' value=s size='small' cardinality='1:1'}}
      </p>

    </p>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-4 col-sm-3 col-lg-2">
    {{#ui-buttons cardinality=c values=vs2 as |g2|}}
      {{ui-button title='foo' group=g2}}
      {{ui-button title='bar' group=g2}}
      {{ui-button title='baz' group=g2}}
    {{/ui-buttons}}
    <br/>
    <p class='downer'>
      <i>&nbsp;&nbsp; where c = {{c}}</i>
    </p>
    <hr>
    <p class='downer'>
      VALUES are <i>&nbsp;&nbsp; {{vs2}}</i>
    </p>
  </div>
  <div class="col-xs-4 col-sm-5 col-lg-5 monospace">
  <b>\{{#ui-buttons cardinality=c as |g2|}}</b><br/>
    &nbsp;&nbsp;\{{ui-button title='foo' group=g2}}<br/>
    &nbsp;&nbsp;\{{ui-button title='bar' group=g2}}<br/>
    &nbsp;&nbsp;\{{ui-button title='baz' group=g2}}<br/>
  <b>\{{/ui-buttons}}</b><br/>
  </div>
  <div class="col-xs-4 col-sm-4 col-lg-5">
    <h4>Cardinality &nbsp;{{ui-buttons buttons='0:0,0:1,1:1,1:2,0:M' value=c size='tiny' cardinality='1:1' defaultValue='1:1'}}</h4>
    The cardinality of this component has both a <code>min</code> and <code>max</code> property. Setting the cardinality away from the default state of '0:0' results in the registered buttons being told they can now be selected. The <i>max</i> component indicates how many buttons can be highlighted at one time.
    <br/>
    <note>
      <b>Note</b>: when max is set to 1 the buttons will act like radio buttons and toggle the selected state
    </note>
  </div>
</div>
<hr>



<br/>
<h3>Inline Style</h3>
<hr>
<div class="row">
  <div class="col-xs-12 col-sm-3 col-lg-3">
    {{ui-buttons
      buttons='Foo,Bar,Baz 2'
      value=basicValue
      cardinality='1:1'
    }}
    <p class="downer">value: {{basicValue}}</p>
  </div>
  <div class="col-xs-12 col-sm-3 col-lg-4 monospace">
  <b>\{{ui-buttons </b><br/>
  &nbsp;&nbsp;buttons='Foo,Bar,Baz 2'<br/>
  &nbsp;&nbsp;cardinality='1:1'<br/>
  }}
  </div>
  <div class="col-xs-12 col-sm-6 col-lg-5">
    <h4>Basic Inline</h4>

    The basic inline syntax.<br/>

    <note class="note"><b>Note</b>:   by default the values that each button take on
      are dasherized version of the string and button type is <code>ui-button</code>.</note>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-3 col-lg-3">
    {{ui-buttons
      buttons='Foo::1,Bar::2'
      value=explicitValue
      cardinality='1:1'
    }}
    <p class="downer">value: {{explicitValue}}</p>
  </div>
  <div class="col-xs-12 col-sm-3 col-lg-4 monospace">
  <b>\{{ui-buttons </b><br/>
  &nbsp;&nbsp;buttons='Foo::1,Bar::2'<br/>
  &nbsp;&nbsp;cardinality='1:1'<br/>
  }}
  </div>
  <div class="col-xs-12 col-sm-6 col-lg-5">
    However, if you want to keep to the inline style but be explicit with the values then you
    can do this by using the double colon character (e.g., '::'). See demonstration to left.
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-3 col-lg-3">
    {{ui-buttons
      buttons='Foo:::true,Bar:::false'
      value=literalValue
      cardinality='1:1'
    }}
    <p class="downer">value: {{literalValue}}</p>
  </div>
  <div class="col-xs-12 col-sm-3 col-lg-4 monospace">
  <b>\{{ui-buttons </b><br/>
  &nbsp;&nbsp;buttons='Foo:::true,Bar:::false'<br/>
  &nbsp;&nbsp;cardinality='1:1'<br/>
  }}
  </div>
  <div class="col-xs-12 col-sm-6 col-lg-5">
    You can also state a literal of <i>true</i>, <i>false</i>, or <i>null</i> by using ':::'.
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12 col-sm-3 col-lg-3">
    {{ui-buttons
      buttons='Foo,Bar,Baz'
      value=effectValue1
      activeEffect='rubberBand'
      cardinalityEffect='pulse'
      cardinality='1:1'
    }}
    <p class="downer">value: {{effectValue1}}</p>
  </div>
  <div class="col-xs-12 col-sm-3 col-lg-4 monospace">
  <b>\{{ui-buttons </b><br/>
  &nbsp;&nbsp;buttons='Foo,Bar,Baz'<br/>
  &nbsp;&nbsp;cardinality='1:1'<br/>
  &nbsp;&nbsp;activeEffect='rubberBand'<br/>
  &nbsp;&nbsp;cardinalityEffect='pulse'<br/>
  }}
  </div>
  <div class="col-xs-12 col-sm-6 col-lg-5">
    <h4>Effects</h4>
    The CSS animiation effects available in <code>ui-button</code> can be accessed including:
    <ul>
      <li><b>activeEffect</b> - when a button becomes active</li>
      <li><b>inactiveEffect</b> - when a button becomes inactive</li>
      <li><b>cardinalityEffect</b> - when the user has run into a cardinality constraint</li>
    </ul>
    While this example uses the <i>inline</i> form it is usable in <i>block</i> style so long
    as the buttons are registered.
  </div>
</div>


<hr>
<div class="row">
  <div class="col-xs-12 col-sm-3 col-lg-3">
    {{ui-buttons
      buttons=dynButtons
      size=size
      activeMood=activeButtonMood
      inactiveMood=inactiveButtonMood
      activeIcon=activeIcon
      inactiveIcon=inactiveIcon
      defaultValue='bar'
      cardinality=cardinality
      stretch=stretch
    }}
  </div>
  <div class="col-xs-12 col-sm-3 col-lg-4 monospace">
    {{display-component componentName='ui-buttons'
        buttons=dynButtons
        size=size
        activeMood=activeButtonMood
        inactiveMood=inactiveButtonMood
        activeIcon=activeIcon
        inactiveIcon=inactiveIcon
        defaultValue='bar'
        cardinality=cardinality
        stretch=stretch
      }}
  </div>
  <div class="col-xs-12 col-sm-6 col-lg-5">
    <h4>Interactive Example</h4>

    Now play around with a few parameters:
    <div class="row">
      <div class="col-xs-3">buttons</div>
      <div class="col-xs-9">
        {{text-input value=dynButtons }}
      </div>
      <br/>
      <div class="col-xs-3 downer">active mood</div>
      <div class="col-xs-9 downer">
         {{ui-buttons cardinality='0:1' size='small' value=activeButtonMood buttons='default,success,primary,warning,danger'}}
      </div>
      <br/>
      <div class="col-xs-3 downer">Inactive</div>
      <div class="col-xs-9 downer">
         {{radio-buttons size='small' value=inactiveButtonMood buttons='default,success,primary,warning,danger'}}
      </div>
      <br/>
      <div class="col-xs-3 downer">size</div>
      <div class="col-xs-9 downer">
        {{ui-buttons buttons='tiny,small,default:::null,large,huge' size='small' cardinality='0:1' value=size }}
      </div>
      <br/>
      <div class="col-xs-3 downer">cardinality</div>
      <div class="col-xs-9 downer">
        {{ui-buttons
          buttons='0:0,0:1,1:1,1:2,1:M::1:M'
          value=cardinality
          size='small'
          cardinality='1:1'
          defaultValue='1:1'
        }}
      </div>
      <br/>
      <div class="col-xs-3 downer">active icon</div>
      <div class="col-xs-9 downer">
        {{ui-buttons
          buttons='none:::false,circle,square,checkbox::check-square-o,dot::dot-circle-o'
          value=activeIcon
          size='small'
          cardinality='1:1'
          defaultValue='check-square-o'
        }}
      </div>
      <br/>
      <div class="col-xs-3 downer">inactive icon</div>
      <div class="col-xs-9 downer">
        {{ui-buttons
          buttons='none:::false,circle::circle-o,square::minus-square-o,checkbox::square-o,dot::circle-o-notch'
          value=inactiveIcon
          size='small'
          cardinality='1:1'
          defaultValue='square-o'
        }}
      </div>
      <br/>
      <div class="col-xs-3 downer">stretch</div>
      <div class="col-xs-9 downer">
        {{ui-toggle-button
          value=stretch
          size='small'
          on='stretch' off='no-stretch'
          onValue=true offValue=false
        }}
      </div>
      <br/>
      <div class="col-xs-12 downer">
        <note>
          <b>Note:</b> <i>stretch</i> switches group to flexbox and individual buttons to flex items to allow each button to evenly take up the full with that the container is providing.
        </note>

      </div>
      <br/>

    </div>
  </div>
</div>

<br/>

<h3>Data Down, Actions Up</h3>
<hr>
<div class="row">
  <div class="col-xs-12 col-sm-3 col-lg-3">
    {{ui-buttons
      cardinality='1:2'
      buttons='Foo,Bar,Baz'
      defaultValue='bar'
      changed="changed"
      action="action"
      error="error"
      disabled=d2
      registration="registration"
    }}<br/>
    <p class="downer">values: {{actionValues}}</p>  </div>
    <div class="flashy">
      {{#each flashMessages.queue as |flash|}}
        {{flash-message flash=flash}}
      {{/each}}
    </div>
  <div class="col-xs-12 col-sm-3 col-lg-4 monospace">
  <b>\{{ui-buttons </b><br/>
  &nbsp;&nbsp;buttons='Foo,Bar,Baz' <br/>
  &nbsp;&nbsp;cardinality='1:2'<br/>
  &nbsp;&nbsp;disabled={{d2}}<br/>
  &nbsp;&nbsp;changed="changed"<br/>
  &nbsp;&nbsp;action="action"<br/>
  &nbsp;&nbsp;error="error"<br/>
  &nbsp;&nbsp;registration="registration"<br/>
  }}
  <br/>
  {{ui-toggle-button on='enable foo' off='disable foo' onValue='foo' offValue=false value=d2}}
  </div>
  <div class="col-xs-4 col-sm-5 col-lg-5">
    Actions available include (see diagram below for visual representation):
    <ul>
      <li><b>action</b> - the default action which gets the majority of the actions sent to it (blue flash msgs).</li>
      <li><b>changed</b> - fires only when the "values" or "disabled" property changes (green flash msgs).</li>
      <li><b>error</b> - if any warning/error conditions happen -- like running into a cardinality constraint -- this is fired</li>
      <li><b>registration</b> - indicates when buttons register with the group and when the group is completed with registration</li>
    </ul>
  </div>
</div>

<h3>Shortcut Components</h3>
<hr>
<div class="row">
  <div class="col-xs-12 col-sm-3 col-lg-3">
    {{radio-buttons
      buttons='Foo,Bar,Baz'
      value=radioValue
    }}<br/>
    <p class="downer">value: {{radioValue}}</p>  </div>
  <div class="col-xs-12 col-sm-3 col-lg-4 monospace">
  <b>\{{radio-buttons </b><br/>
  &nbsp;&nbsp;buttons='Foo,Bar,Baz' <br/>
  }}
  </div>
  <div class="col-xs-12 col-sm-5 col-lg-5">
    <h4>Radio Buttons</h4>
    A simple shortcut/config for ui-buttons ... this simply sets the default
    cardinality to a default of '1:1'. While this example is <i>inline</i> it
    could just as easily be used in a block form.
    <br/>
    <note>
      <b>Note:</b> because the cardinality <i>requires</i> that at least 1 button be selected you'll see that "Foo" button becomes active even though we didn't state a <prop>value</prop> or a <prop>defaultValue</prop>
    </note>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-3 col-lg-3">
    {{checkbox-buttons
      buttons='Foo,Bar,Baz'
      values=checkValue
    }}<br/>
    <p class="downer">values: {{checkValue}}</p>  </div>
  <div class="col-xs-3 col-sm-3 col-lg-4 monospace">
  <b>\{{checkbox-buttons </b><br/>
  &nbsp;&nbsp;buttons='Foo,Bar,Baz' <br/>
  }}
  </div>
  <div class="col-xs-12 col-sm-5 col-lg-5">
    <h4>Checkbox Buttons</h4>
    Another simple shortcut/config ... this  sets the default cardinality to '0:M'
  </div>
</div>

<h3 id='messaging'>Looking inside</h3>
<h4>Key Attributes</h4>
<desc>
  <p>
    The key attributes of <code>ui-buttons</code> and their relationships are shown below:
  </p>
  <div class="row">
    <img class="col-xs-12 col-sm-7" src="images/ui-buttons-properties.png" alt="Key attributes">
    <span class="col-sm-5"></span>
  </div>
</desc>
<h4>Actions</h4>
<desc>
  <p>
    The actions that a container can bind to are:
  </p>
  <div class="row">
    <img class="col-xs-12 col-sm-7" src="images/ui-buttons-actions.png" alt="Key attributes">
    <span class="col-sm-5"></span>
  </div>
</desc>
{{/demo-css}}