<h3>Bootstrap moods</h3>
<div class="row">
    <p class="descriptive col-xs-12 col-sm-8 col-lg-6">
        It's easy to use the Twitter Bootstrap moods you're used to using. The 'default' mood is used by default.
    </p>
</div>

<div class="row">
    <div class="col-xs-2">
        {{#ui-button}}press me{{/ui-button}}
    </div>
    <div class="snippet col-xs-10">
        \{{#ui-button}}press me\{{/ui-button}}
    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        {{#ui-button mood="primary"}}press me{{/ui-button}}
    </div>
    <div class="snippet col-xs-10">
        \{{#ui-button mood="primary"}}press me\{{/ui-button}}
    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        {{#ui-button mood="info"}}press me{{/ui-button}}
    </div>
    <div class="snippet col-xs-10">
        \{{#ui-button mood="info"}}press me\{{/ui-button}}
    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        {{#ui-button mood="success"}}press me{{/ui-button}}
    </div>
    <div class="snippet col-xs-10">
        \{{#ui-button mood="success"}}press me\{{/ui-button}}
    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        {{#ui-button mood="warning"}}press me{{/ui-button}}
    </div>
    <div class="snippet col-xs-10">
        \{{#ui-button mood="warning"}}press me\{{/ui-button}}
    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        {{#ui-button mood="danger"}}press me{{/ui-button}}
    </div>
    <div class="snippet col-xs-10">
        \{{#ui-button mood="danger"}}press me\{{/ui-button}}
    </div>
</div>

<h3>Enable/Disable</h3>
<div class="row">
    <p class="descriptive col-xs-12 col-sm-8 col-lg-6">
        A button can be "disabled" through use of the <code>disabled</code> or <code>enabled</code>
        properties. While this is redundant -- and we'd never expect you to bind to both -- one versus
        the other is often more convenient in your templates which don't have the benefit of conditional
        logic.
    </p>
</div>

<div class="row">
    <div class="col-xs-2">
        {{#ui-button disabled=isRepressed}}disable me{{/ui-button}}
    </div>
    <div class="snippet col-xs-10">
        \{{#ui-button disabled={{isRepressed}} }}disable me\{{/ui-button}} -- {{ui-toggle-button on='disabled' off='not disabled' value=isRepressed size="tiny"}}
    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        {{#ui-button enabled=isEnabled}}enable me{{/ui-button}}
    </div>
    <div class="snippet col-xs-10">
      The opposite of <code>disabled</code> is available as the <code>enabled</code> property:
      {{ui-toggle-button on='enabled' off='not enabled' size="tiny" value=isEnabled}}
      <br/>
      \{{#ui-button enabled={{isEnabled}} }}enable me\{{/ui-button}}
    </div>
</div>

<h3>Size Matters</h3>
<div class="row">
    <p class="descriptive col-xs-12 col-sm-8 col-lg-6">
        Get a variety of sizes which leverage the Bootstrap 'btn-xx' classes but with a simpler syntax (aka, size="small").
    </p>
</div>

<div class="row">
    <div class="col-xs-2">
        {{#ui-button size='tiny'}}Tiny{{/ui-button}}
    </div>
    <div class="snippet col-xs-10">
        \{{#ui-button size='tiny'}}Tiny\{{/ui-button}}
    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        {{#ui-button size='small'}}Small{{/ui-button}}
    </div>
    <div class="snippet col-xs-10">
        \{{#ui-button size='small'}}Small\{{/ui-button}}
    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        {{#ui-button}}Normal{{/ui-button}}
    </div>
    <div class="snippet col-xs-10">
        \{{#ui-button}}Normal\{{/ui-button}}
    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        {{#ui-button width='140px'}}Fixed Width{{/ui-button}}
    </div>
    <div class="snippet col-xs-10">
        \{{#ui-button width='140px'}}Fixed Width\{{/ui-button}}
    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        {{#ui-button width='60%'}}% Width{{/ui-button}}
    </div>
    <div class="snippet col-xs-10">
        \{{#ui-button width='60%'}}% Width\{{/ui-button}}
    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        {{#ui-button size='large'}}Large{{/ui-button}}
    </div>
    <div class="snippet col-xs-10">
        \{{#ui-button size='large'}}Large\{{/ui-button}}
    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        {{#ui-button size='huge'}}Huge{{/ui-button}}
    </div>
    <div class="snippet col-xs-10">
        \{{#ui-button size='huge'}}Huge\{{/ui-button}}
    </div>
</div>

<h3>Inline Goodies</h3>
<div class="row">
    <p class="descriptive col-xs-12 col-sm-8 col-lg-6">
        All the examples so far have been using the <i>block</i> form of the control but it can be used inline and regardless
        of which form you use there are some little visual flurishes that make life easier.
    </p>
</div>

<div class="row">
    <div class="col-xs-2">
        {{ui-button title="inline button"}}
    </div>
    <div class="snippet col-xs-10">
        \{{ui-button title="inline button"}}
    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        {{ui-button title="tooltip" tooltip="additional info"}}
    </div>
    <div class="snippet col-xs-10">
        \{{ui-button title="tooltip" tooltip="additional info"}}
    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        {{ui-button title="tooltip right" tooltip="additional info" tooltipPlacement='right'}}
    </div>
    <div class="snippet col-xs-10">
        \{{ui-button title="tooltip right" tooltip="additional info" tooltipPlacement='right'}}
    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        {{ui-button title="tooltip delayed" tooltip="additional info" tooltipDelay=5000}}
    </div>
    <div class="snippet col-xs-10">
        \{{ui-button title="tooltip delayed" tooltip="additional info" tooltipDelay=5000}}
    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        {{ui-button icon="sitemap"}}
    </div>
    <div class="snippet col-xs-10">
        \{{ui-button icon="sitemap"}}
    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        {{ui-button title='plus text' icon="sitemap"}}
    </div>
    <div class="snippet col-xs-10">
        \{{ui-button title='plus text' icon="sitemap"}}
    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        {{ui-button title="keep da focus" keepFocus=true}}
    </div>
    <div class="snippet col-xs-10">
        \{{ui-button title="keep da focus" keepFocus=true}}
    </div>
</div>

<h3>Effects</h3>
<div class="row">
    <p class="descriptive col-xs-12 col-sm-8 col-lg-6">
        On certain key button events -- click, enabled, disabled -- you can attach a visual
        effect to highlight this state change. You can also remove the default "delay/transition"
        by flagging it to off (this would make it more like default bootstrap).
    </p>
</div>

<div class="row">
    <div class="col-xs-2">
        {{ui-button title="Instant Hover" delayedHover=false}}
    </div>
    <div class="snippet col-xs-10">
        \{{ui-button title="Instant Hover" delayedHover=false}}
    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        {{ui-button title="Click" clickEffect='tada'}}
    </div>
    <div class="snippet col-xs-10">
        \{{ui-button title="Click" clickEffect='tada'}}
    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        {{ui-button title="Enable / Disable" disabled=toggledEnablement enabledEffect='pulse' disabledEffect='shake'}}
    </div>
    <div class="snippet col-xs-10">
        \{{ui-button title="Enable Effect" disabled=toggledEnablement enabledEffect='pulse' disabledEffect='shake'}} -- {{ui-button title="toggle" action="toggleEnablement" size="tiny"}}
    </div>
</div>

<h3>Actions</h3>
<div class="row">
    <p class="descriptive col-xs-12 col-sm-9 col-lg-7">
        Pressing buttons is no fun unless something happens ...
    </p>
</div>

<div class="row">
    <div class="col-xs-2">
        {{ui-button title='just do it' action='buttonAction' value='just do it'}}
    </div>
    <div class="snippet col-xs-10">
        \{{ui-button action='buttonAction' value='just do it'}}
    </div>
</div>


