<h3><code>ui-toggle-button</code></h3>
<h3>Toggle Buttons</h3>
<desc>
  Toggle buttons inherit all the goodness of buttons but have an internal state mechanism which toggles between two states. Note, however, that a default toggleEffect of 'pulse' is set.
</desc>

<div class="row">
    <div class="col-xs-2">
        {{ui-toggle-button}}
    </div>
    <div class="snippet col-xs-10">
        \{{ui-toggle-button}}
    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        {{ui-toggle-button on="Yes" off='No'}}
    </div>
    <div class="snippet col-xs-10">
        \{{ui-toggle-button on="Yes" off='No'}}
    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        {{ui-toggle-button value=true onStyle='success' toggleEffect='swing'}}
    </div>
    <div class="snippet col-xs-10">
        \{{ui-toggle-button value=true onStyle='success' toggleEffect='swing'}}
    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        {{ui-toggle-button onStyle='success' offStyle='danger' width='50px'}}
        {{ui-toggle-button value=true onStyle='success' offStyle='danger' width='50px'}}
    </div>
    <div class="snippet col-xs-10">
        \{{ui-toggle-button onStyle='success' offStyle='danger' width='50px'}} <br/>
        \{{ui-toggle-button value=true onStyle='success' offStyle='danger' width='50px'}}
    </div>
</div>

<div class="row">
    <div class="col-xs-2">
        {{ui-toggle-button onStyle='success' icon='dot-circle-o'}}
    </div>
    <div class="snippet col-xs-10">
        \{{ui-toggle-button onStyle='success' icon='dot-circle-o'}}
    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        {{ui-toggle-button onStyle='success' offIcon='circle-thin' onIcon='dot-circle-o'}}
    </div>
    <div class="snippet col-xs-10">
            \{{ui-toggle-button onStyle='success' offIcon='circle-thin' onIcon='dot-circle-o'}}
    </div>
</div>